

.myForm{

    padding: 20px;
    background-color: aqua;

}

.myForm2{

    padding: 20px;
    background-color: cornflowerblue;
    
    }

.myForm3{

    padding: 20px;
    background-color: royalblue;
        
        }



        .myForm4{

            
            background-color: green;
                
                }
        
section{


     width: 500px;
        }