

.myForm{

    padding: 20px;
    background-color: aqua;

}

.myForm2{

    padding: 20px;
    background-color: cornflowerblue;
    
    }

.myForm3{

    padding: 20px;
    background-color: royalblue;
        
        }



section{


     width: 500px;
        }

.border{

    border: 2px black solid;
    border-radius: 4px / 5px;
   border-color: darkseagreen;
   
}

.borderRed{

    border: 2px black solid;
    border-radius: 4px / 5px;
   border-color:red;
   background-color: rgb(139, 163, 0);
   
}


input{


    background-color: rgb(205, 209, 206);
}

textarea{
    background-color: rgb(205, 209, 206);


}

